@import "tailwindcss";

@theme {
  --color-gold: #c28f2c;
  --color-dark: #000405;
  --color-light: #02171b;
  --color-dark-transparent: #00040540;
}

:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
